name: Build VoltageOS for Miatoll

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize Build Space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 2048
          temp-reserve-mb: 2048
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Environment
        run: |
          sudo apt update
          sudo apt install -y bc build-essential zip curl libstdc++6 git wget python3 python3-pip openjdk-17-jdk repo libssl-dev rsync
          mkdir -p ~/bin
          curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
          chmod a+x ~/bin/repo
          export PATH=~/bin:$PATH

      - name: Sync Source
        run: |
          export PATH=~/bin:$PATH
          repo init -u https://github.com/VoltageOS/manifest.git -b 14 --depth=1
          mkdir -p .repo/local_manifests
          cp manifests/miatoll.xml .repo/local_manifests/
          repo sync -c -j$(nproc --all) --force-sync --no-clone-bundle --no-tags
          # Aggressively remove .git directories to save space
          find . -name ".git" -type d -exec rm -rf {} + || true

      - name: Build ROM
        run: |
          export PATH=~/bin:$PATH
          . build/envsetup.sh
          lunch voltage_miatoll-userdebug
          mka bacon -j$(nproc --all)

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: VoltageOS-Miatoll
          path: out/target/product/miatoll/VoltageOS-*.zip
